.splunk-header.splunk-view.splunk-header.splunk-view > div[data-view="views/shared/appbar/Master"] {
     background-color: #ffa500;
	 color: white;
	 
 }
 
.splunk-header.splunk-view.splunk-header.splunk-view div[data-view="views/shared/appbar/Master"] {
	 color: white;
	 font-size
 }
 
 .dashboard-row .dashboard-panel .panel-body.html {
background: #ffa500;
}

    
 