/* Custom Icons */

   .icon-check-circle {
	
		font-size: 40px;
		color: #009C5F;
		text-shadow: 1px 1px #aaa;
		
    }
	
	.icon-alert{
	
		font-size: 40px;
		color: yellow;
		text-shadow: 1px 1px 1aaa;
		background-color:white;
	}
	
	.icon-alert-circle{
	
		font-size: 40px;
		color: red;
		text-shadow: 1px 1px #aaa;
		background-color:white;
	
	}